.button {
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;

    display: inline-block;
    align-items: center;
    text-align: center;

    border: 1px solid transparent;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &__wrapper {
  display: flex;
  align-items: flex-end;
}
}