.quality-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
  gap: 30px;



  
   &__item {


  @media (min-width: $bp-tablet) {
flex-basis: calc((100% - 30px) / 2);
  }

    @media (min-width: $bp-desktop) {
   flex-basis: calc((100% - 3 * 30px) / 4);
  }

}

&__display {
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

&__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

&__title {
  align-items: center;

  font-style: normal;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: inherit;
  margin-top: 0px;
  margin-bottom: 10px;

   @media (max-width: $bp-tablet) { 
    text-align: center;
 }
}

&__caption {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: var(--color-secondary);

  display: inline-block;

  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
}




